@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');

/* shared styles */

* {
    font-family: 'Mulish', sans-serif;
    font-weight: weight;
    font-style: normal;
    margin: 0;
}
header{
    max-width: 1440px;
    margin: 100px auto;
}
main{
    max-width: 1440px;
    margin: 100px auto;
}
.btn-primary{
    width: 174px;
    height: 52px;
    border-radius: 8px;
    background: #FF5400;
    border: 0;
    color: #FFF;
}
.section-title{
    color: #131318;
    font-size: 2.5rem;
    font-weight: 800;
}
.section-description{
    color: #5A5A5D;
    font-size: 1.25rem;
    margin-top: 24px;
}

/* header related styles */
.nav-title-container{
    display: flex;
    gap: 16px;
    align-items: center;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-title{
    color: #131318;
    font-size: 2.25rem;
    font-weight: 800;
}
.nav-title > span{
    color: #FF5400;
    font-size: 36px;
    }
nav > ul{
    display: flex;
}
nav li{
    list-style: none;
    font-size: 1.1rem;
    margin-right: 44px;
    color: #424247;
}
#nav-home{
    color: #FF5400;
    font-size: 18px;
    font-weight: 700;
}

/* banner related styles */

.banner{
    background-image: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%), url("Images/Group\ 13\ \(1\)\ \(1\).png"); 
    background-size: cover;
    border-radius: 16px;
    background-repeat: no-repeat;
    height: 500px;
    margin-top: 100px;
    text-align: center;
}
.banner-content-container{
    padding-top: 100px;
    padding-bottom: 48px;
}
.banner-title{
    color: #FFF;
    font-size: 4rem;
    font-weight: 800;
    padding-bottom: 24px;;
}
.banner-description{
    color: #FFF;
    font-weight: 400;
    line-height: 26px;
    font-size: 1.25rem;
}
.banner-input-container{
    display: inline-flex;
    padding: 16px;
    align-items: flex-start;
    gap: 24px;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.30);
}
.banner-input-container input{
    width: 174px;
    height: 52px;
    border-radius: 8px;
    background: #FFF;
    border: 0;
    padding-left: 1.5em;
    color: rgba(19, 19, 24, 0.50);
    font-size: 1rem;
}

/* popular tours related styles */

.popular-tours{
    display: flex;
    gap: 100px;
    margin-top: 100px;
}
.logo-style{
    color: #FF5400;
    font-size: 2.5rem;
    font-weight: 800;
}
.popular-list li{
    color: rgba(19, 19, 24, 0.70);
    font-size: 1.25rem;
    margin-top: 24px;
}
.popular-content button{
    margin-top: 32px;
    font-size: 1.25rem;
    font-weight: 800;
}

/* destination related styles */

.destination-content{
    text-align: center;
    margin-top: 100px;
    margin-bottom: 50px;
}
.destination-collage img {
    width: 100%;
    height: 100%;
}
.row{
    height: 300px;
    display: flex;
    gap: 24px;
    margin-bottom: 24px;
}

/* choose us related styles */

.choose-us-content{
    text-align: center;
    margin-top: 100px;
    margin-bottom: 60px;
}
.card-container-1{
    display: flex;
    gap: 24px;
}
.card-container-2{
    display: flex;
    justify-content: center;
    margin-top: 24px;
}
.card{
    border-radius: 16px;
    padding: 32px 40px;
    width: 625px;
    height: 284px;
}
.hotel-card{   
    border: 1px solid rgba(251, 181, 99, 0.20);
    background: rgba(251, 181, 99, 0.05);
}
.service-card{    
    border: 1px solid rgba(41, 206, 246, 0.20);
    background: rgba(41, 206, 246, 0.05);
}
.price-card{
    border: 1px solid rgba(233, 68, 68, 0.20);
    background: rgba(233, 68, 68, 0.05);
}
.card-title{
    color: #131318;
    font-size: 1.5rem;
    font-weight: 800;
}
.card-description{
    color: #5A5A5D;
    padding-top: 16px;
}
.card-image{
    padding: 32px;
}

/* newsletter related styles */

.newsletter-container{
    display: flex;
    margin: 100px 0; 
    gap: 24px;   
}
.newsletter{
    border-radius: 16px;
    border: 1px solid #FF5400;
    padding: 60px;
}
.newsletter p{
    padding: 25px 0px;
}
.newsletter input{
    width: 393px;
    height: 52px;
    margin-top: 25px;
    border-radius: 8px;
    background: rgba(19, 19, 24, 0.05);
    border: 0;
    color: #131318 30%;
    font-size: 1.1rem;
}
.subscribe-btn{
    border-radius: 8px;
    background: #FF5400;
    color: #FFF;
    text-align: center;
    font-size: 1.25rem;
    font-weight: 800;
    width: 393px;
    height: 52px;
    border: 0;
    margin-top: 24px;
}
.img-container img{
    width: 135%;
}

/* footer related styles */

.footer-contents{
    background: rgba(19, 19, 24, 0.05);
    text-align: center;
    margin-top: 100px;
    padding: 120px;
}
.footer-contents img{
    margin: 32px auto;
}
.footer-contents hr{
    margin: 50px auto;
    width: 1200px;
    height: 1px;
}
#copyright{
    font-weight: 300px;
}

/* media queries */

@media screen and (max-width: 576px) {
    nav,
    nav > ul,
    .banner-input-container,
    .popular-tours,
    .row,
    .card-container-1,
    .card-container-2,
    footer{
        flex-direction: column;
    }
    header{
        max-width: 375px;
        margin: 50px auto;
    }
    main{
        max-width: 375px;
        margin: 50px auto;
    }
    .newsletter-container{
        flex-direction: column-reverse;
    }
    nav > ul {
        gap: 10px;
        margin-top: 30px;
        width: 70%;
    }
    .banner{
        width: 100%;
        height: 100%;
        margin-top: 50px;
    }
    .banner-input-container{
        margin: 20px;
    }
    .banner-input-container input{
        width: 287px;
    }
    .destination-collage img{
        width: 100%;
        height: 200px;
    }
    .row{
        height: auto;
    }
    .card{
        width: 295px;
        height: 250px;
    }
    .popular-img-container img{
        width: 100%;
        height: auto
    }
    .newsletter-container .img-container img{
        width: 100%;
        height: auto
    }
    .newsletter{
        padding: 20px;
    }
    .newsletter input,
    .subscribe-btn
    {
        width: 288px;
        height: 52px;
    }

    .footer-contents{
        padding: 50px;
    }
    .footer-contents hr{
        margin: 20px auto;
        width: 250px;
    }
}